@media screen and (max-width:2024px){
    body.leyoubird{
        .le-main-footer{
            position:fixed;
            bottom:0;
            left:0;
            right:0;
        }
        .le-main-header{
            position:fixed;
            top:0;
            left:0;
            right:0;
        }
    }
}