/*
@font-face {font-family: 'iconfont-nav';
    src: url('../font/iconfont-nav.eot');
    src: url('../font/iconfont-nav.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont-nav.woff') format('woff'),
    url('../font/iconfont-nav.ttf') format('truetype'),
    url('../font/iconfont-nav.svg#iconfont') format('svg');
}

@font-face {font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg');
}*/


@media screen and (max-width:2024px){
    margin: 0;
    padding: 0;
    body.leyoubird{
        height: auto;

        footer.le-main-footer{
            position:fixed;
            bottom:0;
            left:0;
            right:0;
            z-index:100;

            .le-footer-btn-list{
                min-height:4em;
                display:table;
                width:100%;
                background-color: #00a3b3;

                .le-footer-btn{
                    display:table-cell;
                    text-align: center;
                    font-weight:normal;
                    text-decoration:none;
                    color:#fff;

                    box-sizing:border-box;
                    padding:.2em 0;

                    &.focus{
                        background-color: #15828d;
                    }

                    &>.le-footer-btn-icon{
                        font-family:"iconfont-nav" !important;
                        font-size:16px;font-style:normal;
                        -webkit-font-smoothing: antialiased;
                        -webkit-text-stroke-width: 0.2px;
                        -moz-osx-font-smoothing: grayscale;
                        font-size:30px;
                        font-weight:normal;
                    }
                    &>.le-footer-btn-content{
                        font-size:12px;
                    }
                }
            }
        }
        .le-main-header{
            position:fixed;
            top:0;
            left:0;
            right:0;
            height:2.4em;
            line-height:2.4em;
            padding: 0.2em 0;
            text-align:center;
            z-index:100;
            background-color: #00a3b3;

            .home-title{
                font-size:1em;
                display:inline-block;
                height:32px;
                line-height:32px;
                color: #fff;

                span{
                    display:inline-block;
                    height:32px;
                    line-height:32px;
                    vertical-align:bottom;
                    font-size: 18px;
                }
            }
        }
        main.ui-content{
            padding:0;
            margin:2.8em 0 5em;

            &.without-header{
                margin-top:0;
            }

            .le-adv-panel{
                height:300px;
                overflow:hidden;
                position:relative;

                &.narrow{
                    height:240px;
                }
                &.ext-narrow{
                    height:200px;
                }
                &.customTrip{
                    height:200px;
                }

                .img-panel{
                    width:100000px;
                    height:100%;
                    box-sizing:border-box;
                    position:relative;

                    .img{
                        width:420px;
                        height:100%;
                        box-sizing:border-box;
                        background-repeat: no-repeat;
                        background-color:#ccc;
                        background-position:center center;
                        background-size:100% 100%;
                        float:left;
                        position:relative;

                        .img-info{
                            position:absolute;
                            line-height:1.5em;
                            height:1.5em;
                            left:16px;
                            bottom:10px;
                            text-shadow: none;
                            color:#fff;
                        }
                    }
                }
            }
            section.main-panel{
                padding:0.8em 1em 3.2em;

                .panel-title{
                    text-align:center;
                    line-height:2em;
                    height:2em;
                    box-sizing:border-box;
                    border-bottom:1px solid #ccc;

                    &>.sub-title{
                        font-size:12px;
                        color:#999;
                        margin-left:1em;
                    }
                }

                .le-items-select{
                    margin: 3em 0;
                    &>.select-title{
                        text-align:center;
                        font-weight:bold;
                        line-height:2em;
                    }
                    &>.select-items{
                        display:table;
                        width:100%;
                        margin:0.4em 0 0.8em;

                        &>.select-grid{
                            display:table-cell;
                            text-align:center;
                            padding:0.2em;

                            &>.select-btn{
                                display:inline-block;
                                height:2em;
                                line-height:2em;
                                border:1px solid #bbb;
                                width:100%;
                                border-radius:0.4em;

                                &.checked{
                                    background-color:#00a3b3;
                                    border-color:#00a3b3;
                                    color:#fff;
                                }

                            }
                        }
                    }
                }

                .le-form{
                    .le-form-item{
                        padding-left:25%;
                        position:relative;
                        margin:0.8em 0;

                        .ui-field-contain{
                            padding:0;
                        }
                        .ui-mini{
                            margin:0;
                        }

                        .le-form-label{
                            position:absolute;
                            top:0.4em;
                            height:1.6em;
                            line-height:1.6em;
                            left:0;
                            width:23%;
                            text-align:right;
                        }

                        .le-form-grid{
                            .le-form-grid-item{
                                display:inline-block;
                                vertical-align:text-top;

                                .ui-input-text{
                                    margin:0;
                                }
                            }
                        }
                        .le-msgcode-btn{
                            width:100%;
                            text-align:center;
                            height:2.2em;
                            line-height:2.2em;
                            border:1px solid #ddd;
                            border-radius:0.4em;
                            padding:0;
                            margin:0;
                            font-weight:normal;

                            &.disabled{
                                background-color:#ddd;
                                border-color:#ddd;
                                color:#999;
                            }
                        }
                        .le-form-check{
                            line-height:1.5em;

                            .le-form-check-item{
                                display:inline-block;
                                height:1.8em;
                                line-height:1.8em;
                                vertical-align:baseline;
                                text-align:center;
                                min-width:100px;
                                border:1px solid #bbb;
                                margin:0.2em 0.1em;
                                border-radius:0.4em;
                                background-color:#fff;

                                &.checked{
                                    background-color:#00a3b3;
                                    color:#fff;
                                    border-color:#00a3b3;
                                }
                            }
                        }
                    }
                }
                .le-ctrl-panel{
                    margin:1.4em 0 1em;
                }
                .le-price-title{
                    //border-bottom:1px solid #ccc;
                    line-height:2em;
                    word-break:break-all;
                }
                .le-price-panel{
                    margin:1em 0;
                    position:relative;
                    padding-right:8.5em;

                    .le-price-copy,.le-price-title{
                        min-height: 2em;
                    }
                    .le-price-copy{
                        line-height:2em;
                        .tag{
                            background-color:#86e1ea;
                            padding:0 4px;
                            border-radius:0.4em;
                            margin:0 0.1em 0 0;
                            line-height:1em;
                            height:1em;
                            font-size:14px;

                            &:nth-child(3n+1){
                                background-color:#eabe86;
                            }
                            &:nth-child(3n+2){
                                background-color:#b3ea86;
                            }
                        }
                    }


                    .le-price{
                        font-size:32px;
                        font-weight:bold;
                        position:absolute;
                        //height:2em;
                        //line-height:2em;
                        right:0;
                        bottom:0;
                        color:#f0903b;
                        vertical-align:baseline;

                        .qi, .money{
                            font-size:16px;
                            vertical-align:baseline;
                        }
                    }
                }
                .le-list-menu{
                    padding-bottom:1em;

                    .le-list-title{
                        line-height:2em;
                        height:2em;
                        padding:0.2em 0;
                        border-bottom:1px solid #ccc;
                        font-weight:bold;

                        /*
                        &>.ctrl-icon{
                            font-family:"iconfont" !important;
                            font-size:16px;font-style:normal;
                            -webkit-font-smoothing: antialiased;
                            -webkit-text-stroke-width: 0.2px;
                            -moz-osx-font-smoothing: grayscale;
                            float:right;

                            &:before{
                                content:'\e629';
                            }

                            &.down{
                                &:before{
                                    content:'\e629';
                                }
                            }
                            &.left{
                                &:before{
                                    content:'\e626';
                                }
                            }
                        }*/
                    }
                    .le-list-content{
                        padding:1em 0;

                        p{
                            margin:0;
                        }
                        .content{
                            margin-left:20px;
                            line-height:1.8em;
                        }

                        .le-list-product-info{
                            margin:0.5em 0 0 20px;
                            border-left:1px solid #ccc;

                            &>.content{
                                margin-left:20px;
                                line-height:1.8em;

                                p{
                                    text-align: justify;
                                }

                                img{
                                    width:100%;
                                }
                            }

                        }
                        .le-list-product-title{
                            padding:0 0 0 40px;
                            position:relative;
                            line-height:1.6em;
                            font-weight:bold;

                            &>.icon{
                                position:absolute;
                                left:8px;
                                top:0;
                                width:24px;
                                height:24px;
                                font-family:"iconfont" !important;
                                font-size:16px;font-style:normal;
                                -webkit-font-smoothing: antialiased;
                                -webkit-text-stroke-width: 0.2px;
                                -moz-osx-font-smoothing: grayscale;

                                &:before{
                                    position:absolute;
                                    left:0;
                                    top:0;
                                    font-size:24px;
                                    color:#00a3b3;
                                }
                                /*
                                &.point{
                                    &:before{
                                        content:'\e668';
                                    }
                                }
                                &.paper-plane{
                                    &:before{
                                        content:'\e6b2';
                                    }
                                }*/
                            }
                        }
                    }
                }
                .le-shuttle-service-list{
                    list-style:none;
                    margin:0;
                    padding:0;

                    &>li{
                        margin:0;
                        padding:0;
                        list-style:none;
                        border-bottom:1px solid #ccc;

                        a.product-item{
                            display:block;
                            text-decoration:none;
                            color:#333;
                            font-size:16px;
                            font-weight:normal;
                            position:relative;
                            padding:1em 0 1em 116px;
                            min-height:100px;

                            &:hover{
                                background-color:#eee;
                            }

                            .product-img{
                                position:absolute;
                                left:0;
                                top:1em;
                                width:100px;
                                height:100px;
                                box-sizing:border-box;
                                background-color:#ccc;
                                background-size:cover;
                            }
                            &>.title{
                                line-height:1.6em;
                            }
                            &>.price{
                                font-size:20px;
                                color:#f0903b;
                                position:absolute;
                                right:0;
                                bottom:1em;
                            }
                        }
                    }
                }
                .success-panel{
                    text-align:center;
                    padding-top:1em;

                    .success-title{
                        font-size:24px;
                        font-weight:800;
                        color:#00a3b3;

                        span{
                            vertical-align:middle;
                        }

                        .icon{
                            font-family:"iconfont" !important;
                            font-size:40px;
                            font-style:normal;
                            -webkit-font-smoothing: antialiased;
                            -webkit-text-stroke-width: 0.2px;
                            -moz-osx-font-smoothing: grayscale;

                        }
                    }
                    .success-content{
                        margin:3em 0 1em;
                        p{
                            line-height:2em;
                            margin: 0;
                        }
                    }
                }
            }
            section.success-confirm-btn-panel{
                position:fixed;
                left:16px;
                bottom:0;
                right:16px;
                z-index:1000;
            }
        }
        .le-image-info-panel{
            list-style:none;
            margin:0.8em 0;
            padding:0;

            &.narrow{
                &>li.le-items{
                    height:200px;

                    &>a>img.le-image{
                        height:160px;
                    }
                }
            }

            &>li.le-items{
                list-style:none;
                margin:.8em 0;
                box-sizing:border-box;
                height:240px;

                &>a{
                    text-decoration:none;
                    display:block;
                    height:100%;
                    overflow:hidden;
                    box-sizing:border-box;
                    position:relative;
                    border:1px solid #ccc;
                    border-radius:0.4em;

                    &>img.le-image{
                        width:100%;
                        height:200px;
                        vertical-align:bottom;
                    }
                    &>.le-image-info{
                        height:40px;
                        line-height:38px;
                        background-color:#ddd;
                        font-weight:normal;
                        padding:0 1em;
                        box-sizing:border-box;
                        color:#333;

                        &>span{
                            display: block;
                            &.sub-info{
                                font-size: 14px;
                                line-height:1.5em;
                            }
                        }
                    }
                }
            }
        }
    }
    #ui-datepicker-div{
        z-index:1000!important;
    }
}
.panel-spacing{
    margin-bottom: 1em;
}

.le-loading{
    position:absolute;
    z-index:1000;
    background-color:#000;
    opacity:0.6;
    color:#fff;
    text-align:center;
    width:100px;
    height:100px;
    margin:-50px 0 0 -50px;
    left:50%;
    top:50%;
    font-size:16px;
    font-weight:normal;
    border-radius:0.4em;
    line-height:100px;
}