@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  /* IE9*/
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/iconfont.woff') format('woff'), /* chrome、firefox */ url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */ url('../font/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
@media screen and (max-width: 2024px) {
  body.leyoubird .le-main-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  body.leyoubird .le-main-footer .le-footer-btn-list {
    min-height: 4em;
    display: table;
    width: 100%;
    /*
                display:-webkit-box;
                display:-moz-box;
                display:-webkit-flex;
                display: flex;

                -moz-box-orient:horizontal;
                -webkit-box-orient:horizontal;
                box-orient:horizontal;
                flex-direction:row;

                
                -moz-box-pack:center;
                -webkit-box-pack:center;
                -o-box-pack:center;
                justify-content:center;*/
  }
  body.leyoubird .le-main-footer .le-footer-btn-list .le-footer-btn {
    /*-moz-box-flex:1;
                    -webkit-box-flex:1;
                    box-flex:1;

                    flex-grow:1;
                    display:inline-block;*/
    display: table-cell;
    text-align: center;
    font-weight: normal;
    text-decoration: none;
    color: #fff;
    box-sizing: border-box;
    padding: .2em 0;
  }
  body.leyoubird .le-main-footer .le-footer-btn-list .le-footer-btn.focus {
    background-color: #0489c1;
  }
  body.leyoubird .le-main-footer .le-footer-btn-list .le-footer-btn > .le-footer-btn-icon {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    font-size: 30px;
    font-weight: normal;
  }
  body.leyoubird .le-main-footer .le-footer-btn-list .le-footer-btn > .le-footer-btn-content {
    font-size: 12px;
  }
  body.leyoubird .le-main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 1.5em;
    line-height: 1.5em;
    padding: 0.6em 0;
    z-index: 100;
  }
  body.leyoubird .le-main-header .home-title {
    font-size: 1em;
    padding: 0 16px 0 58px;
  }
  body.leyoubird .le-main-header .home-title span.logo {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 16px;
    top: 6px;
    background: url(../content/logo.png) no-repeat center center;
    background-size: 100% 100%;
  }
  body.leyoubird main.ui-content {
    padding: 0;
    margin: 2.8em 0 4em;
  }
  body.leyoubird main.ui-content.without-header {
    margin-top: 0;
  }
  body.leyoubird main.ui-content .le-adv-panel {
    height: 300px;
    overflow: hidden;
  }
  body.leyoubird main.ui-content .le-adv-panel.narrow {
    height: 200px;
  }
  body.leyoubird main.ui-content .le-adv-panel .img-panel {
    width: 100000px;
    height: 100%;
    box-sizing: border-box;
  }
  body.leyoubird main.ui-content .le-adv-panel .img-panel .img {
    width: 420px;
    height: 100%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-color: #ccc;
    background-position: center center;
    background-image: url(../content/demo1.jpg);
    background-size: 100% 100%;
    float: left;
    position: relative;
  }
  body.leyoubird main.ui-content .le-adv-panel .img-panel .img .img-info {
    position: absolute;
    line-height: 1.5em;
    height: 1.5em;
    left: 16px;
    bottom: 10px;
    text-shadow: none;
    color: #fff;
  }
  body.leyoubird main.ui-content section.main-panel {
    padding: 0.8em 1em;
    background-color: #eee;
  }
  body.leyoubird main.ui-content section.main-panel .panel-title {
    text-align: center;
    line-height: 2em;
    height: 2em;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
  }
  body.leyoubird main.ui-content section.main-panel .panel-title > .sub-title {
    font-size: 12px;
    color: #999;
    margin-left: 1em;
  }
  body.leyoubird main.ui-content section.main-panel .le-form .le-form-item {
    padding-left: 30%;
    position: relative;
    margin: 0.8em 0;
  }
  body.leyoubird main.ui-content section.main-panel .le-form .le-form-item .le-form-label {
    position: absolute;
    top: 0;
    height: 2em;
    line-height: 2em;
    left: 0;
    width: 24%;
    text-align: right;
  }
  body.leyoubird .le-image-info-panel {
    list-style: none;
    margin: 0.8em 0;
    padding: 0;
  }
  body.leyoubird .le-image-info-panel.narrow > li.le-items {
    height: 200px;
  }
  body.leyoubird .le-image-info-panel.narrow > li.le-items > a > img.le-image {
    height: 160px;
  }
  body.leyoubird .le-image-info-panel > li.le-items {
    list-style: none;
    margin: .8em 0;
    box-sizing: border-box;
    height: 240px;
  }
  body.leyoubird .le-image-info-panel > li.le-items > a {
    text-decoration: none;
    display: block;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 0.4em;
  }
  body.leyoubird .le-image-info-panel > li.le-items > a > img.le-image {
    width: 100%;
    height: 200px;
    vertical-align: bottom;
  }
  body.leyoubird .le-image-info-panel > li.le-items > a > .le-image-info {
    height: 40px;
    line-height: 38px;
    background-color: #ddd;
    font-weight: normal;
    padding: 0 1em;
    box-sizing: border-box;
    color: #333;
  }
  body.leyoubird .le-image-info-panel > li.le-items > a > .le-image-info > span {
    display: block;
  }
  body.leyoubird .le-image-info-panel > li.le-items > a > .le-image-info > span.sub-info {
    font-size: 14px;
    line-height: 1.5em;
  }
}
.panel-spacing {
  margin-bottom: 1em;
}
